# Configuration file

##########################################################################################################
# armor
#--------------------------------------------------------------------------------------------------------#
# Modify the effects armor has on entities when worn
##########################################################################################################

armor {

    item_armoredjetpack {
        S:01.ID=Mekanism:ArmoredJetpack
        D:"02.Temp Add - Night"=-1.00
        D:"03.Temp Add - Shade"=0.00
        D:"04.Temp Add - Sun"=2.00
        D:"05.Temp Multiplier - Night"=1.00
        D:"06.Temp Multiplier - Shade"=1.00
        D:"07.Temp Multiplier - Sun"=1.10
        D:08.Sanity=0.0
        D:09.Air=0.00
        B:"10.Allow Camel Pack"=true
    }

    item_freerunners {
        S:01.ID=Mekanism:FreeRunners
        D:"02.Temp Add - Night"=-1.00
        D:"03.Temp Add - Shade"=0.00
        D:"04.Temp Add - Sun"=2.00
        D:"05.Temp Multiplier - Night"=1.00
        D:"06.Temp Multiplier - Shade"=1.00
        D:"07.Temp Multiplier - Sun"=1.10
        D:08.Sanity=0.0
        D:09.Air=0.00
        B:"10.Allow Camel Pack"=false
    }

    item_gasmask {
        S:01.ID=Mekanism:GasMask
        D:"02.Temp Add - Night"=0.00
        D:"03.Temp Add - Shade"=0.00
        D:"04.Temp Add - Sun"=0.00
        D:"05.Temp Multiplier - Night"=1.00
        D:"06.Temp Multiplier - Shade"=1.00
        D:"07.Temp Multiplier - Sun"=1.00
        D:08.Sanity=0.0
        D:09.Air=1.00
        B:"10.Allow Camel Pack"=false
    }

    item_jetpack {
        S:01.ID=Mekanism:Jetpack
        D:"02.Temp Add - Night"=-1.00
        D:"03.Temp Add - Shade"=0.00
        D:"04.Temp Add - Sun"=2.00
        D:"05.Temp Multiplier - Night"=1.00
        D:"06.Temp Multiplier - Shade"=1.00
        D:"07.Temp Multiplier - Sun"=1.10
        D:08.Sanity=0.0
        D:09.Air=0.00
        B:"10.Allow Camel Pack"=true
    }

    item_scubatank {
        S:01.ID=Mekanism:ScubaTank
        D:"02.Temp Add - Night"=0.00
        D:"03.Temp Add - Shade"=0.00
        D:"04.Temp Add - Sun"=0.00
        D:"05.Temp Multiplier - Night"=1.00
        D:"06.Temp Multiplier - Shade"=1.00
        D:"07.Temp Multiplier - Sun"=1.00
        D:08.Sanity=0.0
        D:09.Air=1.00
        B:"10.Allow Camel Pack"=true
    }

}


