# Configuration file

##########################################################################################################
# armor
#--------------------------------------------------------------------------------------------------------#
# Modify the effects armor has on entities when worn
##########################################################################################################

armor {

    item_bronzeboots {
        S:01.ID=MekanismTools:BronzeBoots
        D:"02.Temp Add - Night"=-1.00
        D:"03.Temp Add - Shade"=0.00
        D:"04.Temp Add - Sun"=2.00
        D:"05.Temp Multiplier - Night"=1.00
        D:"06.Temp Multiplier - Shade"=1.00
        D:"07.Temp Multiplier - Sun"=1.10
        D:08.Sanity=0.0
        D:09.Air=0.00
        B:"10.Allow Camel Pack"=false
    }

    item_bronzechestplate {
        S:01.ID=MekanismTools:BronzeChestplate
        D:"02.Temp Add - Night"=-1.00
        D:"03.Temp Add - Shade"=0.00
        D:"04.Temp Add - Sun"=2.00
        D:"05.Temp Multiplier - Night"=1.00
        D:"06.Temp Multiplier - Shade"=1.00
        D:"07.Temp Multiplier - Sun"=1.10
        D:08.Sanity=0.0
        D:09.Air=0.00
        B:"10.Allow Camel Pack"=true
    }

    item_bronzehelmet {
        S:01.ID=MekanismTools:BronzeHelmet
        D:"02.Temp Add - Night"=-1.00
        D:"03.Temp Add - Shade"=0.00
        D:"04.Temp Add - Sun"=2.00
        D:"05.Temp Multiplier - Night"=1.00
        D:"06.Temp Multiplier - Shade"=1.00
        D:"07.Temp Multiplier - Sun"=1.10
        D:08.Sanity=0.0
        D:09.Air=0.00
        B:"10.Allow Camel Pack"=false
    }

    item_bronzeleggings {
        S:01.ID=MekanismTools:BronzeLeggings
        D:"02.Temp Add - Night"=-1.00
        D:"03.Temp Add - Shade"=0.00
        D:"04.Temp Add - Sun"=2.00
        D:"05.Temp Multiplier - Night"=1.00
        D:"06.Temp Multiplier - Shade"=1.00
        D:"07.Temp Multiplier - Sun"=1.10
        D:08.Sanity=0.0
        D:09.Air=0.00
        B:"10.Allow Camel Pack"=false
    }

    item_glowstoneboots {
        S:01.ID=MekanismTools:GlowstoneBoots
        D:"02.Temp Add - Night"=-1.00
        D:"03.Temp Add - Shade"=0.00
        D:"04.Temp Add - Sun"=2.00
        D:"05.Temp Multiplier - Night"=1.00
        D:"06.Temp Multiplier - Shade"=1.00
        D:"07.Temp Multiplier - Sun"=1.10
        D:08.Sanity=0.0
        D:09.Air=0.00
        B:"10.Allow Camel Pack"=false
    }

    item_glowstonechestplate {
        S:01.ID=MekanismTools:GlowstoneChestplate
        D:"02.Temp Add - Night"=-1.00
        D:"03.Temp Add - Shade"=0.00
        D:"04.Temp Add - Sun"=2.00
        D:"05.Temp Multiplier - Night"=1.00
        D:"06.Temp Multiplier - Shade"=1.00
        D:"07.Temp Multiplier - Sun"=1.10
        D:08.Sanity=0.0
        D:09.Air=0.00
        B:"10.Allow Camel Pack"=true
    }

    item_glowstonehelmet {
        S:01.ID=MekanismTools:GlowstoneHelmet
        D:"02.Temp Add - Night"=-1.00
        D:"03.Temp Add - Shade"=0.00
        D:"04.Temp Add - Sun"=2.00
        D:"05.Temp Multiplier - Night"=1.00
        D:"06.Temp Multiplier - Shade"=1.00
        D:"07.Temp Multiplier - Sun"=1.10
        D:08.Sanity=0.0
        D:09.Air=0.00
        B:"10.Allow Camel Pack"=false
    }

    item_glowstoneleggings {
        S:01.ID=MekanismTools:GlowstoneLeggings
        D:"02.Temp Add - Night"=-1.00
        D:"03.Temp Add - Shade"=0.00
        D:"04.Temp Add - Sun"=2.00
        D:"05.Temp Multiplier - Night"=1.00
        D:"06.Temp Multiplier - Shade"=1.00
        D:"07.Temp Multiplier - Sun"=1.10
        D:08.Sanity=0.0
        D:09.Air=0.00
        B:"10.Allow Camel Pack"=false
    }

    item_lapislazuliboots {
        S:01.ID=MekanismTools:LapisLazuliBoots
        D:"02.Temp Add - Night"=-1.00
        D:"03.Temp Add - Shade"=0.00
        D:"04.Temp Add - Sun"=2.00
        D:"05.Temp Multiplier - Night"=1.00
        D:"06.Temp Multiplier - Shade"=1.00
        D:"07.Temp Multiplier - Sun"=1.10
        D:08.Sanity=0.0
        D:09.Air=0.00
        B:"10.Allow Camel Pack"=false
    }

    item_lapislazulichestplate {
        S:01.ID=MekanismTools:LapisLazuliChestplate
        D:"02.Temp Add - Night"=-1.00
        D:"03.Temp Add - Shade"=0.00
        D:"04.Temp Add - Sun"=2.00
        D:"05.Temp Multiplier - Night"=1.00
        D:"06.Temp Multiplier - Shade"=1.00
        D:"07.Temp Multiplier - Sun"=1.10
        D:08.Sanity=0.0
        D:09.Air=0.00
        B:"10.Allow Camel Pack"=true
    }

    item_lapislazulihelmet {
        S:01.ID=MekanismTools:LapisLazuliHelmet
        D:"02.Temp Add - Night"=-1.00
        D:"03.Temp Add - Shade"=0.00
        D:"04.Temp Add - Sun"=2.00
        D:"05.Temp Multiplier - Night"=1.00
        D:"06.Temp Multiplier - Shade"=1.00
        D:"07.Temp Multiplier - Sun"=1.10
        D:08.Sanity=0.0
        D:09.Air=0.00
        B:"10.Allow Camel Pack"=false
    }

    item_lapislazulileggings {
        S:01.ID=MekanismTools:LapisLazuliLeggings
        D:"02.Temp Add - Night"=-1.00
        D:"03.Temp Add - Shade"=0.00
        D:"04.Temp Add - Sun"=2.00
        D:"05.Temp Multiplier - Night"=1.00
        D:"06.Temp Multiplier - Shade"=1.00
        D:"07.Temp Multiplier - Sun"=1.10
        D:08.Sanity=0.0
        D:09.Air=0.00
        B:"10.Allow Camel Pack"=false
    }

    item_obsidianboots {
        S:01.ID=MekanismTools:ObsidianBoots
        D:"02.Temp Add - Night"=0.00
        D:"03.Temp Add - Shade"=0.00
        D:"04.Temp Add - Sun"=0.00
        D:"05.Temp Multiplier - Night"=1.00
        D:"06.Temp Multiplier - Shade"=1.00
        D:"07.Temp Multiplier - Sun"=0.90
        D:08.Sanity=0.0
        D:09.Air=0.00
        B:"10.Allow Camel Pack"=false
    }

    item_obsidianchestplate {
        S:01.ID=MekanismTools:ObsidianChestplate
        D:"02.Temp Add - Night"=0.00
        D:"03.Temp Add - Shade"=0.00
        D:"04.Temp Add - Sun"=0.00
        D:"05.Temp Multiplier - Night"=1.00
        D:"06.Temp Multiplier - Shade"=1.00
        D:"07.Temp Multiplier - Sun"=0.90
        D:08.Sanity=0.0
        D:09.Air=0.00
        B:"10.Allow Camel Pack"=true
    }

    item_obsidianhelmet {
        S:01.ID=MekanismTools:ObsidianHelmet
        D:"02.Temp Add - Night"=0.00
        D:"03.Temp Add - Shade"=0.00
        D:"04.Temp Add - Sun"=0.00
        D:"05.Temp Multiplier - Night"=1.00
        D:"06.Temp Multiplier - Shade"=1.00
        D:"07.Temp Multiplier - Sun"=0.90
        D:08.Sanity=0.0
        D:09.Air=0.00
        B:"10.Allow Camel Pack"=false
    }

    item_obsidianleggings {
        S:01.ID=MekanismTools:ObsidianLeggings
        D:"02.Temp Add - Night"=0.00
        D:"03.Temp Add - Shade"=0.00
        D:"04.Temp Add - Sun"=0.00
        D:"05.Temp Multiplier - Night"=1.00
        D:"06.Temp Multiplier - Shade"=1.00
        D:"07.Temp Multiplier - Sun"=0.90
        D:08.Sanity=0.0
        D:09.Air=0.00
        B:"10.Allow Camel Pack"=false
    }

    item_osmiumboots {
        S:01.ID=MekanismTools:OsmiumBoots
        D:"02.Temp Add - Night"=-1.00
        D:"03.Temp Add - Shade"=0.00
        D:"04.Temp Add - Sun"=2.00
        D:"05.Temp Multiplier - Night"=1.00
        D:"06.Temp Multiplier - Shade"=1.00
        D:"07.Temp Multiplier - Sun"=1.10
        D:08.Sanity=0.0
        D:09.Air=0.00
        B:"10.Allow Camel Pack"=false
    }

    item_osmiumchestplate {
        S:01.ID=MekanismTools:OsmiumChestplate
        D:"02.Temp Add - Night"=-1.00
        D:"03.Temp Add - Shade"=0.00
        D:"04.Temp Add - Sun"=2.00
        D:"05.Temp Multiplier - Night"=1.00
        D:"06.Temp Multiplier - Shade"=1.00
        D:"07.Temp Multiplier - Sun"=1.10
        D:08.Sanity=0.0
        D:09.Air=0.00
        B:"10.Allow Camel Pack"=true
    }

    item_osmiumhelmet {
        S:01.ID=MekanismTools:OsmiumHelmet
        D:"02.Temp Add - Night"=-1.00
        D:"03.Temp Add - Shade"=0.00
        D:"04.Temp Add - Sun"=2.00
        D:"05.Temp Multiplier - Night"=1.00
        D:"06.Temp Multiplier - Shade"=1.00
        D:"07.Temp Multiplier - Sun"=1.10
        D:08.Sanity=0.0
        D:09.Air=0.00
        B:"10.Allow Camel Pack"=false
    }

    item_osmiumleggings {
        S:01.ID=MekanismTools:OsmiumLeggings
        D:"02.Temp Add - Night"=-1.00
        D:"03.Temp Add - Shade"=0.00
        D:"04.Temp Add - Sun"=2.00
        D:"05.Temp Multiplier - Night"=1.00
        D:"06.Temp Multiplier - Shade"=1.00
        D:"07.Temp Multiplier - Sun"=1.10
        D:08.Sanity=0.0
        D:09.Air=0.00
        B:"10.Allow Camel Pack"=false
    }

    item_steelboots {
        S:01.ID=MekanismTools:SteelBoots
        D:"02.Temp Add - Night"=0.00
        D:"03.Temp Add - Shade"=0.00
        D:"04.Temp Add - Sun"=0.00
        D:"05.Temp Multiplier - Night"=1.00
        D:"06.Temp Multiplier - Shade"=1.00
        D:"07.Temp Multiplier - Sun"=0.90
        D:08.Sanity=0.0
        D:09.Air=0.00
        B:"10.Allow Camel Pack"=false
    }

    item_steelchestplate {
        S:01.ID=MekanismTools:SteelChestplate
        D:"02.Temp Add - Night"=0.00
        D:"03.Temp Add - Shade"=0.00
        D:"04.Temp Add - Sun"=0.00
        D:"05.Temp Multiplier - Night"=1.00
        D:"06.Temp Multiplier - Shade"=1.00
        D:"07.Temp Multiplier - Sun"=0.90
        D:08.Sanity=0.0
        D:09.Air=0.00
        B:"10.Allow Camel Pack"=true
    }

    item_steelhelmet {
        S:01.ID=MekanismTools:SteelHelmet
        D:"02.Temp Add - Night"=0.00
        D:"03.Temp Add - Shade"=0.00
        D:"04.Temp Add - Sun"=0.00
        D:"05.Temp Multiplier - Night"=1.00
        D:"06.Temp Multiplier - Shade"=1.00
        D:"07.Temp Multiplier - Sun"=0.90
        D:08.Sanity=0.0
        D:09.Air=0.00
        B:"10.Allow Camel Pack"=false
    }

    item_steelleggings {
        S:01.ID=MekanismTools:SteelLeggings
        D:"02.Temp Add - Night"=0.00
        D:"03.Temp Add - Shade"=0.00
        D:"04.Temp Add - Sun"=0.00
        D:"05.Temp Multiplier - Night"=1.00
        D:"06.Temp Multiplier - Shade"=1.00
        D:"07.Temp Multiplier - Sun"=0.90
        D:08.Sanity=0.0
        D:09.Air=0.00
        B:"10.Allow Camel Pack"=false
    }

}


