# Configuration file

groundlevel {
    # Ground Level (1-255) [range: 1 ~ 255, default: 64]
    I:settings=64
}


settings {
    B:AlertEnabled=true
    B:IncludeMiners=true
    S:OnMorningText=Dawn breaks over OldSchoolCraft... Rise and grind.
    S:OnSleepText=has crashed for the night.
    S:OnWakeText=is back in action.
    I:SleeperPerc=50
}


