@font-face {
  font-family: 'Minecraft';
  src: url('/fonts/MinecraftRegular-Bmg3.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PixelOperator';
  src: url('/fonts/PixelOperator.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
