# Configuration file

##########################################################################################################
# biomes
#--------------------------------------------------------------------------------------------------------#
# Manually change the environmental properties of each biome
##########################################################################################################

biomes {

    "Rainbow Forest" {
        I:"01.Biome ID"=91
        B:"02.Allow Config Override"=false

        # Water Quality: dirty, salty, cold, clean
        S:"03.Water Quality"=dirty

        # Biome temperature in celsius (Player body temp is offset by + 12C)
        D:"04.Ambient Temperature"=23.512435412217695
        D:"05.Temp Rate"=0.0
        D:"06.Sanity Rate"=0.0
        D:"07.Dehydrate Rate"=0.0
        D:"08.Air Quality Rate"=0.0
    }

    "Rainbow Stream" {
        I:"01.Biome ID"=92
        B:"02.Allow Config Override"=false

        # Water Quality: dirty, salty, cold, clean
        S:"03.Water Quality"=dirty

        # Biome temperature in celsius (Player body temp is offset by + 12C)
        D:"04.Ambient Temperature"=23.512435412217695
        D:"05.Temp Rate"=0.0
        D:"06.Sanity Rate"=0.0
        D:"07.Dehydrate Rate"=0.0
        D:"08.Air Quality Rate"=0.0
    }

    "Ender Forest" {
        I:"01.Biome ID"=93
        B:"02.Allow Config Override"=false

        # Water Quality: dirty, salty, cold, clean
        S:"03.Water Quality"=clean

        # Biome temperature in celsius (Player body temp is offset by + 12C)
        D:"04.Ambient Temperature"=23.512435412217695
        D:"05.Temp Rate"=0.0
        D:"06.Sanity Rate"=0.0
        D:"07.Dehydrate Rate"=0.0
        D:"08.Air Quality Rate"=0.0
    }

    "Luminous Cliffs" {
        I:"01.Biome ID"=94
        B:"02.Allow Config Override"=false

        # Water Quality: dirty, salty, cold, clean
        S:"03.Water Quality"=dirty

        # Biome temperature in celsius (Player body temp is offset by + 12C)
        D:"04.Ambient Temperature"=25.000660485882097
        D:"05.Temp Rate"=0.0
        D:"06.Sanity Rate"=0.0
        D:"07.Dehydrate Rate"=0.0
        D:"08.Air Quality Rate"=0.0
    }

    "Luminous Cliffs Shores" {
        I:"01.Biome ID"=95
        B:"02.Allow Config Override"=false

        # Water Quality: dirty, salty, cold, clean
        S:"03.Water Quality"=dirty

        # Biome temperature in celsius (Player body temp is offset by + 12C)
        D:"04.Ambient Temperature"=25.000660485882097
        D:"05.Temp Rate"=0.0
        D:"06.Sanity Rate"=0.0
        D:"07.Dehydrate Rate"=0.0
        D:"08.Air Quality Rate"=0.0
    }

    "Iridescent Archipelago" {
        I:"01.Biome ID"=100
        B:"02.Allow Config Override"=false

        # Water Quality: dirty, salty, cold, clean
        S:"03.Water Quality"=dirty

        # Biome temperature in celsius (Player body temp is offset by + 12C)
        D:"04.Ambient Temperature"=17.22075445642904
        D:"05.Temp Rate"=0.0
        D:"06.Sanity Rate"=0.0
        D:"07.Dehydrate Rate"=0.0
        D:"08.Air Quality Rate"=0.0
    }

    "Lumen Skylands" {
        I:"01.Biome ID"=101
        B:"02.Allow Config Override"=false

        # Water Quality: dirty, salty, cold, clean
        S:"03.Water Quality"=dirty

        # Biome temperature in celsius (Player body temp is offset by + 12C)
        D:"04.Ambient Temperature"=17.22075445642904
        D:"05.Temp Rate"=0.0
        D:"06.Sanity Rate"=0.0
        D:"07.Dehydrate Rate"=0.0
        D:"08.Air Quality Rate"=0.0
    }

    "Crystal Plains" {
        I:"01.Biome ID"=102
        B:"02.Allow Config Override"=false

        # Water Quality: dirty, salty, cold, clean
        S:"03.Water Quality"=dirty

        # Biome temperature in celsius (Player body temp is offset by + 12C)
        D:"04.Ambient Temperature"=17.22075445642904
        D:"05.Temp Rate"=0.0
        D:"06.Sanity Rate"=0.0
        D:"07.Dehydrate Rate"=0.0
        D:"08.Air Quality Rate"=0.0
    }

    "Glowing Forest" {
        I:"01.Biome ID"=103
        B:"02.Allow Config Override"=false

        # Water Quality: dirty, salty, cold, clean
        S:"03.Water Quality"=dirty

        # Biome temperature in celsius (Player body temp is offset by + 12C)
        D:"04.Ambient Temperature"=17.22075445642904
        D:"05.Temp Rate"=0.0
        D:"06.Sanity Rate"=0.0
        D:"07.Dehydrate Rate"=0.0
        D:"08.Air Quality Rate"=0.0
    }

    "Crystal Forest" {
        I:"01.Biome ID"=104
        B:"02.Allow Config Override"=false

        # Water Quality: dirty, salty, cold, clean
        S:"03.Water Quality"=dirty

        # Biome temperature in celsius (Player body temp is offset by + 12C)
        D:"04.Ambient Temperature"=17.22075445642904
        D:"05.Temp Rate"=0.0
        D:"06.Sanity Rate"=0.0
        D:"07.Dehydrate Rate"=0.0
        D:"08.Air Quality Rate"=0.0
    }

    "Crystal Mountains" {
        I:"01.Biome ID"=105
        B:"02.Allow Config Override"=false

        # Water Quality: dirty, salty, cold, clean
        S:"03.Water Quality"=dirty

        # Biome temperature in celsius (Player body temp is offset by + 12C)
        D:"04.Ambient Temperature"=17.22075445642904
        D:"05.Temp Rate"=0.0
        D:"06.Sanity Rate"=0.0
        D:"07.Dehydrate Rate"=0.0
        D:"08.Air Quality Rate"=0.0
    }

    "Aura Ocean" {
        I:"01.Biome ID"=106
        B:"02.Allow Config Override"=false

        # Water Quality: dirty, salty, cold, clean
        S:"03.Water Quality"=dirty

        # Biome temperature in celsius (Player body temp is offset by + 12C)
        D:"04.Ambient Temperature"=17.22075445642904
        D:"05.Temp Rate"=0.0
        D:"06.Sanity Rate"=0.0
        D:"07.Dehydrate Rate"=0.0
        D:"08.Air Quality Rate"=0.0
    }

    "Structure Field" {
        I:"01.Biome ID"=107
        B:"02.Allow Config Override"=false

        # Water Quality: dirty, salty, cold, clean
        S:"03.Water Quality"=clean

        # Biome temperature in celsius (Player body temp is offset by + 12C)
        D:"04.Ambient Temperature"=17.22075445642904
        D:"05.Temp Rate"=0.0
        D:"06.Sanity Rate"=0.0
        D:"07.Dehydrate Rate"=0.0
        D:"08.Air Quality Rate"=0.0
    }

    Voidland {
        I:"01.Biome ID"=108
        B:"02.Allow Config Override"=false

        # Water Quality: dirty, salty, cold, clean
        S:"03.Water Quality"=dirty

        # Biome temperature in celsius (Player body temp is offset by + 12C)
        D:"04.Ambient Temperature"=17.22075445642904
        D:"05.Temp Rate"=0.0
        D:"06.Sanity Rate"=0.0
        D:"07.Dehydrate Rate"=0.0
        D:"08.Air Quality Rate"=0.0
    }

    "Luminescent Sanctuary" {
        I:"01.Biome ID"=109
        B:"02.Allow Config Override"=false

        # Water Quality: dirty, salty, cold, clean
        S:"03.Water Quality"=dirty

        # Biome temperature in celsius (Player body temp is offset by + 12C)
        D:"04.Ambient Temperature"=17.22075445642904
        D:"05.Temp Rate"=0.0
        D:"06.Sanity Rate"=0.0
        D:"07.Dehydrate Rate"=0.0
        D:"08.Air Quality Rate"=0.0
    }

    "Sparkling Sands" {
        I:"01.Biome ID"=110
        B:"02.Allow Config Override"=false

        # Water Quality: dirty, salty, cold, clean
        S:"03.Water Quality"=dirty

        # Biome temperature in celsius (Player body temp is offset by + 12C)
        D:"04.Ambient Temperature"=17.22075445642904
        D:"05.Temp Rate"=0.0
        D:"06.Sanity Rate"=0.0
        D:"07.Dehydrate Rate"=0.0
        D:"08.Air Quality Rate"=0.0
    }

    "Radiant Fissures" {
        I:"01.Biome ID"=111
        B:"02.Allow Config Override"=false

        # Water Quality: dirty, salty, cold, clean
        S:"03.Water Quality"=dirty

        # Biome temperature in celsius (Player body temp is offset by + 12C)
        D:"04.Ambient Temperature"=17.22075445642904
        D:"05.Temp Rate"=0.0
        D:"06.Sanity Rate"=0.0
        D:"07.Dehydrate Rate"=0.0
        D:"08.Air Quality Rate"=0.0
    }

    "Monument Field" {
        I:"01.Biome ID"=112
        B:"02.Allow Config Override"=false

        # Water Quality: dirty, salty, cold, clean
        S:"03.Water Quality"=clean

        # Biome temperature in celsius (Player body temp is offset by + 12C)
        D:"04.Ambient Temperature"=17.22075445642904
        D:"05.Temp Rate"=0.0
        D:"06.Sanity Rate"=0.0
        D:"07.Dehydrate Rate"=0.0
        D:"08.Air Quality Rate"=0.0
    }

}


