# Configuration file

##########################################################################################################
# spoiling
#--------------------------------------------------------------------------------------------------------#
# Matter Overdrive foods never spoil - futuristic preserved items
##########################################################################################################

spoiling {

    item_mo_earl_gray_tea {
        S:01.ID=mo:earl_gray_tea
        I:02.Damage=-1
        S:"03.Rotten ID"=
        I:"04.Rotten Damage"=0
        I:"05.Days To Rot"=-1
    }

    item_mo_romulan_ale {
        S:01.ID=mo:romulan_ale
        I:02.Damage=-1
        S:"03.Rotten ID"=
        I:"04.Rotten Damage"=0
        I:"05.Days To Rot"=-1
    }

    item_mo_android_pill {
        S:01.ID=mo:android_pill
        I:02.Damage=-1
        S:"03.Rotten ID"=
        I:"04.Rotten Damage"=0
        I:"05.Days To Rot"=-1
    }

}
